$dark-background: #1f2937;
$quote-background: #e5e7eb;
$button-color: #3882f6;
$button-hover: #2f6bcb;
$main-text: #f9faf8;
$secondary-text: #e5e7eb;
$dark-text: #1f2937;

html {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    justify-content: space-between;
    margin: 0;
}

.header{
    color: $secondary-text;
    align-items: center;
    background-color: $dark-background;
    display: flex;
    flex: 0;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
}

#logo {
    filter: invert(1);
    transform: scaleX(-1);
    height: auto;
    width: 50px;
    margin: 0 2%;
}

ul {
    display: inline-flex;
    gap: 30px;
    list-style: none;
    margin: 0 2%;
}

a {
    color: $main-text;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.intro {
    align-items: center;
    background-color: $dark-background;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px 5%;
}

h1 {
    color: $main-text;
    font-size: 48px;
    font-weight: 900;
}

.description {
    color: $secondary-text;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    font-size: 18px;
    max-width: 600px;
    padding: 30px;
    width: 40%;
}

.description button {
    color: $main-text;
    background-color: $button-color;
    border: $button-color;
    border-radius: 4px;
    height: 36px;
    max-width: 90px;
}

button:hover {
    background-color: $button-hover;
}

#intro-img {
    border-radius: 6px;
    height: 260px;
    width: 390px;
}

.information {
    align-items: center;
    color: $dark-text;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

.box-container{
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    gap: 24px;
    justify-content: space-evenly;
}

.box-container .box {
    display: block;
    margin: 10px 0;
    text-align: center;
    width: 200px;
}

.box img {
    border-radius: 6px;
    height: 180px;
    width: 200px;
}

.quote-container {
    align-items:flex-end;
    background-color: $quote-background;
    color: $dark-text;
    display: flex;
    flex-direction: column;
}

.quote {
    align-self: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    display: flex;
    height: auto;
    width: 70%;
}

h3 {
    display: flex;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-top: -18px;
    width: 40%;
}

.sign-up {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 30px;
}

.sign-up .box {
    background-color: $button-color;
    border-radius: 6px;
    align-items: center;
    color: $main-text;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    max-width: 600px;
    height: 80px;
    width: 60%;
}

.text h4 {
    color: $main-text;
    font-size: 16px;
}
.text p {
    color: $secondary-text;
    font-size: 12px;
    margin-top: -20px;
}

.box button {
    background-color: $button-color;
    border: 1px solid $main-text;
    border-radius: 4px;
    color: $main-text;
    height: 30px;
    min-width: 80px;
}

.box button:hover {
    background-color: $button-hover;
}

.footer {
    align-items: center;
    color: $secondary-text;
    background-color: $dark-background;
    display: flex;
    font-size: 14px;
    height: 42px;
    justify-content: center;
}