html {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header{
    align-items: center;
    background-color: aquamarine;
    display: flex;
    flex: 0;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
}

#logo {
    height: auto;
    width: 50px;
}

ul {
    display: inline-flex;
    gap: 20px;
    list-style: none;
}

.intro {
    background-color: burlywood;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}

.description {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    padding: 30px;
    width: 40%;
}

.description button {
    max-width: 80px;
}

#intro-img {
    height: 260px;
    width: 390px;
}

.information {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-container{
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
}

.box-container .box {
    display: block;
    margin: 10px 0;
    text-align: center;
    width: 240px;

}

.box img {
    height: 180px;
    width: 180px;
}

.quote-container {
    align-items:flex-end;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
}

.quote {
    font-size: 20px;
    font-style: italic;
    display: flex;
    height: auto;
}

h3 {
    display: flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-top: -18px;
}

.sign-up {
    background-color: aquamarine;
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.sign-up .box {
    background-color: blue;
    align-items: center;
    color: white;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding: 6px 50px;
}

.text h4 {
    color: white;
    font-size: 16px;
}
.text p {
    color: #ddd;
    font-size: 12px;
}

.box button {
    max-height: 30px;
}

.footer {
    color: white;
    background-color: green;
    text-align: center;
}